.cta {
  display: inline-block;
  padding: 0.6em 1.5em 0.5em;
  border: 0;
  border-radius: 2em;
  background-color: var(--clr-primary-100);
  transition: transform 200ms cubic-bezier(0, 0.26, 0.13, 1.55), color 150ms ease-in-out;
  font-weight: 700;
  color: var(--clr-neutral-200);
  cursor: pointer;

  &:hover {
    background-color: hsla(180, 66%, 49%, 0.75);
    transform: scale(1.05);
    color: var(--clr-neutral-100);
  }

  .js-completed {
    background-color: var(--clr-neutral-400);
  }
}
