.features {
  position: relative;

  ul {
    gap: 3rem;
  }

  ul::before {
    content: "";
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    inline-size: 40rem;
    block-size: 0.5rem;
    background-color: var(--clr-primary-100);
    transform: translateX(-50%) rotate(90deg);

    @include respond-to("medium") {
      // inset-block-start: 30rem;
      // inline-size: calc(100% - clamp(2rem, 10vw, 4rem));
      inset-inline-start: 4rem;
      inline-size: 80%;
      transform: translateX(0) rotate(0);
    }
  }

  li {
    position: relative;
    block-size: min-content;
    padding-block-start: 4rem;
    padding-block-end: clamp(1rem, 5vw, 2rem);
    border-radius: 0.5em;
    background-color: var(--clr-neutral-100);

    // FIXME svg size and padding
    &::before {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 50%;
      padding: 0.75em 0.75em 0.25em;
      border-radius: 50%;
      background-color: var(--clr-neutral-400);
      transform: translate(-50%, -50%);

      @include respond-to("medium") {
        inset-inline-start: clamp(2rem, 10vw, 4rem);
      }
    }

    &:nth-of-type(1) {
      margin-block-start: 0;

      &::before {
        content: url("../images/icon-brand-recognition.svg");
      }
    }

    &:nth-of-type(2) {
      margin-block-start: 2rem;

      &::before {
        content: url("../images/icon-detailed-records.svg");
      }
    }

    &:nth-of-type(3) {
      margin-block-start: 4rem;

      &::before {
        content: url("../images/icon-fully-customizable.svg");
      }
    }
  }
}
