/*  Footer
    ================================================== */

.footer {
  display: grid;
  grid-column: 1 / -1;
  padding-block-start: clamp(1rem, 5vw, 2rem);
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);

  > .split {
    gap: 3rem;
  }

  nav {
    gap: 3rem;

    li:first-of-type {
      font-weight: 700;
    }

    a {
      font-weight: inherit;
      color: var(--clr-neutral-100);
    }
  }

  .icons ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include respond-to("medium") {
      justify-content: flex-end;
    }

    li {
      flex: revert;
    }
  }
}
