/*  Footer
    ================================================== */

.footer {
  inline-size: 99.5vw;
  margin-inline-start: calc(50% - 50vw);
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
  padding-block: clamp(1rem, 5vw, 2rem);

  .logo {
    align-self: flex-start;
    max-inline-size: none;
    text-align: start;
    margin-inline: auto;

    @include respond-to("medium") {
      margin-inline-start: 0;
    }
  }

  > .split {
    gap: 3rem;
  }

  nav {
    gap: 3rem;

    li:first-of-type {
      font-weight: 700;
    }

    a {
      font-weight: inherit;
      color: var(--clr-neutral-100);

      &:hover {
        color: var(--clr-primary-100);
      }
    }
  }

  .icons ul {
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    @include respond-to("medium") {
      justify-content: flex-end;
      margin-inline-start: 0;
    }

    li {
      flex: revert;
    }

    li:hover path {
      fill: var(--clr-primary-100);
    }
  }
}
