.intro {
  /* HACK - why does 100vw cause overflow? */
  inline-size: 99.5vw;
  padding-block-start: 3rem;
  padding-block-end: 9rem;
  margin-inline-start: calc(50% - 50vw);
  background-color: var(--clr-neutral-100);

  > div {
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;

    @include respond-to("medium") {
      flex-direction: row;
    }

    .cta {
      margin-block-start: 2rem;
    }
  }
}
