.intro {
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  background-color: var(--clr-neutral-100);
  inline-size: 100vw;
  margin-inline-start: calc(50% - 50vw);

  > div {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    @include respond-to("medium") {
      flex-direction: row;
    }

    .cta {
      margin-block-start: 2rem;
    }
  }
}
