.shorten {
  .url-form {
    position: relative;
    flex-wrap: wrap;
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: 0.5em;
    margin-block-start: -14rem;
    background-color: var(--clr-primary-200);
    background-image: url("../../images/bg-shorten-mobile.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;

    @include respond-to("medium") {
      background-image: url("../../images/bg-shorten-desktop.svg");
    }
  }

  input {
    flex-grow: 9999;
    max-inline-size: 100%;
    padding: 1em;
    border-radius: 0.5em;

    &::placeholder {
      color: var(--clr-neutral-300);
    }
  }

  .cta {
    flex-grow: 1;
    min-inline-size: 10rem;
    max-inline-size: 100%;
    border-radius: 0.5em;
  }

  .message {
    display: none;
    inset-block-end: 0;

    @include respond-to("medium") {
      position: absolute;
      max-inline-size: 95%;
      padding-inline-start: 1rem;
      margin-block-end: 1rem;
    }
  }

  .results {
    li {
      align-items: center;
      justify-content: flex-end;
      border-radius: 0.5rem;
      background-color: var(--clr-neutral-100);
      padding-block: clamp(0.5rem, 1.25vw, 0.75rem);
    }

    .original {
      flex-grow: 9999;
      color: var(--clr-neutral-500);
    }

    .short {
      min-inline-size: max-content;
      text-align: end;
      color: var(--clr-primary-100);
    }

    .cta {
      min-inline-size: 10rem;
    }
  }

  /* Error states
   ------------------- */

  input.js-error {
    border: 2px solid var(--clr-secondary-100);
    color: var(--clr-secondary-100);

    &::placeholder {
      color: var(--clr-secondary-100);
    }
  }

  div.js-error {
    display: unset;
    font-style: italic;
    color: var(--clr-secondary-100);
  }
}
