.submit {
  .url-form {
    padding: clamp(1rem, 5vw, 2rem);
    border-radius: 0.5em;
    background-color: var(--clr-primary-200);
    background-image: url("../../images/bg-shorten-mobile.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;

    @include respond-to("medium") {
      background-image: url("../../images/bg-shorten-desktop.svg");
    }

    input {
      padding: 0.5em 1em;
      border-radius: 0.5em;

      &::placeholder {
        color: var(--clr-neutral-300);
      }
    }
  }

  .cta {
    // align-self: center;
    inline-size: 100%;
    border-radius: 0.5em;

    @include respond-to("medium") {
      max-inline-size: 10rem;
    }
  }
}
