/*  Custom Properties
    ================================================== */

:root {
  /* Colors */
  --clr-primary-100: hsla(180, 66%, 49%, 1);
  --clr-primary-200: hsla(257, 27%, 26%, 1);
  --clr-secondary-100: hsla(0, 87%, 67%, 1);
  --clr-neutral-100: hsla(225, 0%, 100%, 1);
  --clr-neutral-200: hsla(225, 35%, 95%, 1);
  --clr-neutral-300: hsla(257, 7%, 63%, 1);
  --clr-neutral-400: hsla(255, 11%, 22%, 1);
  --clr-neutral-500: hsla(260, 8%, 14%, 1);

  /* Spacing */
  --spacer: 1rem;

  /* Font sizes */
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1rem, 0.96rem + 0.18vw, 1.13rem);
  --step-1: clamp(1.13rem, 1.06rem + 0.32vw, 1.35rem);
  --step-2: clamp(1.27rem, 1.16rem + 0.51vw, 1.62rem);
  // --step-3: clamp(1.42rem, 1.28rem + 0.74vw, 1.94rem);
  --step-4: clamp(1.6rem, 1.39rem + 1.04vw, 2.33rem);
  // --step-5: clamp(1.8rem, 1.52rem + 1.43vw, 2.8rem);
  // --step-6: clamp(2.03rem, 1.65rem + 1.9vw, 3.36rem);
  // --step-7: clamp(2.28rem, 1.78rem + 2.5vw, 4.03rem);
  --step-8: clamp(2.57rem, 1.92rem + 3.25vw, 4.84rem);
}
