@import "reset";
@import "abstracts/variables";
@import "abstracts/breakpoints";

/* ==================================================
  Composition
  ================================================== */

@import "composition/align-content";
@import "composition/container";
@import "composition/flow-content";
@import "composition/flow-section";
@import "composition/split";

/* ==================================================
  Utilities
  ================================================== */

@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/visually-hidden";
@import "utilities/cta";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/header";
@import "blocks/banner";
@import "blocks/submit-url";
@import "blocks/statistics";
@import "blocks/features";
@import "blocks/boost";
@import "blocks/footer";

/* ==================================================
  Global Styles
  ================================================== */

/* Base Styles
   ================================================== */

body {
  overflow-x: hidden;
  background-color: var(--clr-neutral-200);
  font-family: "poppins", sans-serif;
  font-size: var(--step-0);
  font-weight: 400;
  text-align: center;
  color: var(--clr-neutral-400);

  @include respond-to("medium") {
    text-align: start;
  }
}

footer {
  margin-block-start: 4rem;

  @include respond-to("medium") {
    margin-block-start: 6rem;
  }
}

h1,
h2,
h3 {
  color: var(--clr-neutral-400);
}

h1 {
  margin-inline: auto;
  max-inline-size: 15ch;
  font-size: var(--step-8);

  @include respond-to("medium") {
    margin-inline-start: 0;
  }
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-1);
}

a {
  transition: color 250ms ease-out;
  font-weight: 700;
  text-decoration: none;
  color: var(--clr-neutral-400);

  &:focus,
  &:hover {
    color: var(--clr-primary-100);
  }
}
